@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
  }
  
  
/* Header Component --------------------------------------------------------------------------------------------------------------- */

#headerContainer{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2rem 1rem -2rem rgb(0 0 0 / 10%);
}

#headerLeft{
    display: flex;
    align-items: center;
    width: 33.3%;
    text-decoration: none;
    color: black;
}

#logo{
    height: 8vh;
    margin-left: 1rem;
    margin-right: 1rem;
}

#headerName{
    font-size: 2rem;
}
#headerMiddle{
   display: flex;
   justify-content: center;
   width: 33.3%;
   text-decoration: none;
   border: 1px solid black;
}
.headerLinks{
    text-decoration: none;
    color: black;
}

#headerCenter{
}

#headerRight{
    display: flex;
    width: 33.3%;
    justify-content: flex-end;

}

.headerLinksRight{
    text-decoration: none;
    color: black;
    margin-right: 1rem;
}


/* Landing Page --------------------------------------------------------------------------------------------------------- */

#landingContainer{
    height: 90vh;
    width: 100VW;
    background: url("./components/images/Monika1edit.jpg");
    text-align: center;
    color: white;
    font-size: 5rem;
}
#landingTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#landingName{
    font-size: 5rem;
}

#landingLicensed{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#landingAbout{
    font-size: 1.5rem;
    border: none;
    padding: .3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: .2rem .2rem .2rem .2rem;
    text-decoration: none;
    color: black;
    background: rgba(255, 255, 255, 0.60);
}

#landingAbout:hover{
    color: white;
    background: rgba(0, 0, 0, 0.10);    
}


/* About Page ----------------------------------------------------------------------------------- */

#aboutPage{
    background: rgba(0, 0, 0, 0.05);
    height: 100vh;
}

#aboutPageContextArea{
    margin-left: 15vw;
    margin-right: 15vw;
}

#aboutPageTitle{
    padding-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
}

#aboutPageContentContainer{
    display: flex;
    margin-top: 3rem;
}

#MonikaAboutImg{
    width: 100%;
}